
<ion-content [fullscreen]="true">
  <div class="header">
    <h1 class="title">Ingresa tu email</h1>
    <p class="subTitle">Recibiras una correo para una nueva contrasenia</p>
  </div>
  <div class="ion-padding">
    <ion-item>
      <ion-input [(ngModel)]="email" class="input" placeholder="Ingresa tu email"></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
