<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <div>
      <ion-title>Hola a todos!!</ion-title>
    </div>
    <div>
      <ion-button (click)="logout()">SALIR</ion-button>
    </div>
  </div>
</ion-content>
